/*  */
:root {
  --basic-background-color: #ffffff;
  --additional-background-color: #2f303a;
  --basic-text-color: #212121;
  --additional-text-color: #757575;
  --hover-focus-color: #2196f3;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: var(--basic-text-color);
  background-color: var(--basic-background-color);
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 2px solid tomato;
}

.logo {
  display: inline-block;
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
}
.logo:hover,
.logo:focus {
  color: #212121;
}
.logo:active {
  color: red;
}
.color-two {
  color: #212121;
}
.color-two-button {
  color: #ffffff;
}

.site-nav .link {
  color: var(--basic-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover-focus-color);
}
.site-nav .link:active {
  color: red;
}

.contacts {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus {
  color: var(--hover-focus-color);
}
.contacts:active {
  color: red;
}

.hero {
  margin-bottom: 94px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--additional-background-color);
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  border: 1px solid #2196f3;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 9;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--basic-text-color);
}
.hero-button:active {
  color: red;
}

.quality {
  margin-bottom: 94px;
}
.title {
  margin-top: 0px;
  margin-bottom: 10px;
}
.text {
  margin-top: 0px;
  margin-bottom: 0px;
}
.quality .title {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.quality .text {
  color: #757575;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
}

.work {
  margin-bottom: 82px;
}
.work-title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--basic-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-iten {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--basic-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-images {
  margin-top: 0px;
  margin-bottom: 30px;
}
.team-list {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--basic-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 9;
  letter-spacing: 0.03em;
}
.team-text {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #757575;
  font-size: 16px;
  line-height: 1, 9;
  letter-spacing: 0.03em;
}

.component {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--additional-background-color);
}
.component-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  color: #2196f3;
}
.component-logo:hover,
.component-logo:focus {
  color: #ffffff;
}
.component-logo:active {
  color: red;
}

.map {
  display: inline-block;
  margin-bottom: 9px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
}
.map:hover,
.map:focus {
  color: var(--hover-focus-color);
}
.map:active {
  color: red;
}

.link {
  display: inline-block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
}
.link:hover,
.link:focus {
  color: var(--hover-focus-color);
}
.link:active {
  color: red;
}

.collection {
  margin-top: 94px;
  margin-bottom: 94px;
}
.all {
  display: inline-block;
  margin-bottom: 34px;
}
.all-buttons {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  display: inline-block;
  color: var(--basic-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  text-align: center;
  letter-spacing: 0.03em;
}
.all-buttons.one {
  min-width: 73px;
}
.all-buttons.two {
  min-width: 128px;
}
.all-buttons.three {
  min-width: 145px;
}
.all-buttons.four {
  min-width: 103px;
}
.all-buttons.five {
  min-width: 130px;
}
.all-buttons:hover,
.all-buttons:focus {
  background-color: var(--hover-focus-color);
}
.all-buttons:active {
  color: red;
}

.photo {
  display: flex;
  flex-wrap: wrap;
}

.photo-picture {
  margin-bottom: 20px;
}
.photo h2 {
  margin-top: 0px;
  margin-bottom: 4px;
  color: var(--basic-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.photo p {
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--additional-text-color);
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.03em;
}
